---
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
---
<Layout title="Community">
    <div class="w-full h-full px-[15%]">
        <Header pageLocation="/" pageName="Community" />
            <div class="border-t-[1px] border-t-[--border-color] py-[30px]">
                <p class="mt-[1em]">I refuse to give credit to the original creators of Incognito.</p>
            </div>
            <div class="border-b-[1px] border-b-[--border-color]"></div>
    </div>
</Layout>
